.metadata
Cucumber_BDD/.settings/
Cucumber_BDD/.project
Cucumber_BDD/.classpath
Cucumber_BDD/target/
Cucumber_BDD/src/main/

Cucumber_TestNG/.settings/
Cucumber_TestNG/.project
Cucumber_TestNG/.classpath
Cucumber_TestNG/target/
Cucumber_TestNG/src/main/

myproject/.settings/
myproject/.project
myproject/.classpath
myproject/target/
myproject/.idea/
myproject/amazonCookies.data
myproject/src/main/resources/

PHPTravelsFrameWork/.settings/
PHPTravelsFrameWork/.project
PHPTravelsFrameWork/.classpath
PHPTravelsFrameWork/target/
PHPTravelsFrameWork/src/main/

RestApi_Project/.settings/
RestApi_Project/.project
RestApi_Project/.classpath
RestApi_Project/target/
RestApi_Project/src/main/

SDETQA/.settings/
SDETQA/.project
SDETQA/.classpath
SDETQA/bin/
SDETQA/amazonCookies.data
SDETQA/src/day21/AmazonLogin.java

Selenium

Wipro_Sagnik_2026/.settings/
Wipro_Sagnik_2026/.project
Wipro_Sagnik_2026/.classpath
Wipro_Sagnik_2026/db.properties
Wipro_Sagnik_2026/bin/

mysql-connector-j-9.3.0.jar
selenium-server-4.43.0.jar


BATTesting/




